body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 65px;
    color: white;
    background-color: black;
    font-style: oblique;
}